---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Problem from '../components/sections/Problem.astro';
import Authority from '../components/sections/Authority.astro';
import Program from '../components/sections/Program.astro';
import Targeting from '../components/sections/Targeting.astro';
import Investment from '../components/sections/Investment.astro';
import FinalCTA from '../components/sections/FinalCTA.astro';
---

<Layout>
  <main>
    <Hero />
    <Problem />
    <Authority />
    <Program />
    <Targeting />
    <Investment />
    <FinalCTA />
  </main>
</Layout>
